@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

* {
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

body {
  width: 1920px;
}

.container {
  width: 1200px;
  max-width: 100%;
  min-width: 1200px;
  margin: 0 auto;
}

.uli {
  list-style: none;
}

.ah {
  text-decoration: none;
  background: #FFFFFF;
  padding-left: 19px;
  margin-top: 1px;
  padding-right: 19px;
  font-size: 19px;
  color: #333333;
  font-family: "Georgia";
  line-height: 49px;
  display: inline-block;
  border-right: 1px solid #FFFFFF;
  -moz-transition: all 0.3s 0.01s ease;
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}

.ah:hover {
  color: #FFFFFF;
  background: #15A98C;
}

.lis {
  display: inline-block;
}

.main_part {
  background-image: url("images/main-part-background-img.png");
  background-repeat: no-repeat;
  background-size: 1920px 400px;
}

.left_part {
  float: left;
  padding: 100px 20px 20px 0;
}

.right_part {
  float: left;
  padding-top: 165px;

}

.my_photo {
  width: 329px;
  height: 350px;
  border-radius: 3px;
}

.span_like {
  display: block;
  margin-top: 41px;
  font-size: 24px;
  line-height: 32px;
  color: #15a98c;
  font-family: "Open Sans";
  font-weight: 600;
}

.list {
  margin-top: 12px;
  margin-left: 20px;
  font-size: 18px;
  line-height: 36px;
  color: #555555;
  font-family: "Georgia";
}

.lists_list {
  margin-top: 40px;
}

blockquote {
  background-image: url("images/quote.png");
  background-repeat: no-repeat;
  background-size: 16.8%;
}

.bq1 {
  padding-top: 70px;
  padding-left: 62px;
  width: 719px;
  height: auto;
  font-size: 28px;
  line-height: 44px;
  color: #ffffff;
  font-family: "Georgia";
  font-style: italic;
}

.bq2 {
  padding-left: 62px;
  font-size: 15px;
  line-height: 43px;
  color: #f5f5f5;
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
}

.main_text {
  margin-left: 60px;
}

.main_title {
  margin-top: 120px;
  margin-left: 5px;
  font-size: 48px;
  line-height: 53px;
  color: #333333;
  font-family: "Open Sans";
  font-weight: 700;
}

.rectangle {
  margin-top: 25px;
  width: 60px;
  height: 6px;
  border-radius: 3px;
  background-color: #45c3aa;
}

.text {
  margin-top: 45px;
  max-width: 565px;
  font-size: 18px;
  line-height: 32px;
  color: #555555;
  font-family: "Georgia";
}

h2 {
  margin: 40px 0 15px;
  font-size: 36px;
  line-height: 42px;
  color: #333333;
  font-family: "Open Sans";
  font-weight: 400;
}

.link {
  margin-top: 40px;
}

.contact_me {
  text-decoration: none;
  font-size: 19px;
  line-height: 32px;
  color: #15a98b;
  font-family: "Georgia";
}

.link_text {
  text-decoration: underline;
}

.my_films {
  width: 1500px;
  margin: 90px auto 0;
}

.fav_films {
  font-size: 37px;
  line-height: 42px;
  color: #333333;
  font-family: "Open Sans";
  font-weight: 400;
}

.films_info {
  margin-top: 35px;
  position: relative;
}

.film_info {
  float: left;
  width: 25%;
}

.film_img {
  width: 285px;
  height: 190px;
  border-radius: 4px;
}

.title_films {
  margin-top: 20px;
  font-size: 22px;
  line-height: 32px;
  color: #333333;
  font-family: "Open Sans";
  font-weight: 700;
}

.text_films {
  margin-top: 15px;
  width: 285px;
  font-size: 16px;
  line-height: 28px;
  color: #555555;
  font-family: "Georgia";
}

.all_films {
  margin: 50px auto;
  position: relative;
  display: block;
  max-width: 110px;
  font-size: 19px;
  line-height: 32px;
  color: #f5f5f5;
  font-family: "Georgia";
  border-radius: 5px;
  background-color: #15a98c;
  text-decoration: none;
  padding: 10px 55px;
}

footer {
  height: 70px;
  background-image: url("images/footer-background-img.png");
  background-repeat: no-repeat;
  background-size: 1920px 70px;
}

.footer_text {
  display: block;
  padding: 20px 0;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  color: #555555;
  font-family: "Georgia";
}